# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log

# Database
*.db

# Data（保留目录，不上传原始数据）
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep
