pandas==2.3.1
numpy==2.3.1
matplotlib==3.10.3
plotly==6.2.0
scikit-learn==1.7.0
xgboost
shap
streamlit==1.47.1
sqlalchemy==2.0.41
pymysql==1.1.1
pyyaml
requests
beautifulsoup4
jupyter
openpyxl==3.1.5
