pandas
numpy
matplotlib
plotly
scikit-learn
xgboost
shap
streamlit
sqlalchemy
pymysql
requests
beautifulsoup4
jupyter
pandas==2.3.1

numpy==2.3.1

faker==37.5.3

sqlalchemy==2.0.41

pymysql==1.1.1

streamlit==1.47.1

plotly==6.2.0

scikit-learn==1.7.0

matplotlib==3.10.3

openpyxl==3.1.5